body {
  width: 1512px;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 1512px;
  height: 70px;
  background-color: #1abc9c;
}

.logo {
  width: 101px;
  height: 29px;
  padding-left: 50px;
}
nav {
  width: 357px;
}

.nav_list {
  display: flex;
  list-style: none;
  justify-content: center;
}

.list {
  height: 34px;
  font-size: 25px;
  margin-left: 15px;
}

.social_networks {
  list-style: none;
  display: flex;
  width: 160px;
  height: 40px;
  gap: 15px;
  padding-right: 50px;
}
